<h2>New license service</h2>

<%= render "form.html", changeset: @changeset,
                        action: license_service_path(@conn, :create) %>

<%= link "Back", to: license_service_path(@conn, :index) %>
