<h2>Show brand</h2>

<ul>

  <li>
    <strong>Brand:</strong>
    <%= @brand.brand_id %>
  </li>

  <li>
    <strong>Brand:</strong>
    <%= @brand.brand %>
  </li>

</ul>

<%= link "Edit", to: brand_path(@conn, :edit, @brand) %>
<%= link "Back", to: brand_path(@conn, :index) %>
