<h2>Edit legal address</h2>

<%= render "form.html", changeset: @changeset,
                        action: legal_address_path(@conn, :update, @legal_address) %>

<%= link "Back", to: legal_address_path(@conn, :index) %>
